<img src="https://1wargear.github.io/EasyInventory/data/floorplan.svg" class="floorplan" alt="floorplan" usemap="#floorplan" id="floorplanImage" onclick="uiaction_updatePlace()">

<map name="floorplan">
  <area shape="rect" coords="0,50,30,100" alt="Bedroom" href="#">
  <area shape="rect" coords="30,65,45,100" alt="Bathroom" href="#">
  <area shape="rect" coords="45,65,75,100" alt="Kitchen" href="#">
  <area shape="rect" coords="30,50,100,65" alt="Floor" href="#">
  <area shape="rect" coords="30,15,100,50" alt="Livingroom" href="#">
  <area shape="rect" coords="40,0,85,15" alt="Balcony" href="#">
</map>