<div class="modal-header">
    <h5>Groups</h5>
    <button type="button" class="close btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input type="button" class="btn btn-primary w-100" onclick="ui_showCreateGroup()" value="Create Group">
    <table id="groupTable" class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Members</th>
            <th>Action</th>
        </tr>
    </table>
</div>
